<h1>About Cecilia</h1>
<p>
	Cecilia (pronounced "cheh-chee-lee-uh") is my Italian name endowed by my professore. This site is meant to give students a simple, fun means of learning Italian so they can study abroad in Italy with confidence.
</p>
<p>
  Grazie mille for using Cecilia. In bocca al lupo!
</p>