%h1.about_header About Cecilia
.about_1_stretchy_wrapper
  .about_1
.about_2_stretchy_wrapper
  .about_2
.about_3_stretchy_wrapper
  .about_3
%a{href: "http://github.com/coligado", target: "_blank"}
  .forcellami_stretchy_wrapper
    .forcellami