<% content_for :title do %> 
  Ceclia
<% end %>

<% content_for :meta do %>
  <meta name="description" content="Cecilia is a tool for learning Italian.">
<% end %>

<h1>Cecilia</h1>
<h2>la tua guida a imparare l'italiano</h2>

<div class="step_1">
  Step 1: Italianize your name!
</div>