<div class = "header_bar">
  <div class = "header_links">
    <div class="hdr_link">
    	<a href="/">Home</a>
    </div>
    <div class="hdr_link">
    	<a href="/about">About</a>
    </div>
  </div>
</div>