.about_body {
  background-image: url(images/toscani_1.jpg);
}

.about_header {
  margin: 40px auto 60px auto;
}

.stretchy_wrapper {
  position : relative;
  width    : 80%;
  margin   : 100px auto;
}

.about_1_stretchy_wrapper {
  @extend .stretchy_wrapper;
  margin        : 0 auto 80px auto;
  padding-bottom: 26%;
}

.about_2_stretchy_wrapper {
  @extend .stretchy_wrapper;
  padding-bottom: 32%;
}

.about_3_stretchy_wrapper {
  @extend .stretchy_wrapper;
  padding-bottom: 75%;
}

.forcellami_stretchy_wrapper {
  position       : relative;
  width          : 25%;
  margin         : 0 auto;
  padding-bottom : 15%;
}

.about_img {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.about_1 {
  @extend .about_img;
  background-image  : url('about_1.jpg');
  background-size   : contain;
  background-repeat : no-repeat;
}

.about_2 {
  @extend .about_img;
  background        : url('about_2.jpg');
  background-size   : contain;
  background-repeat : no-repeat; 
}

.about_3 {
  @extend .about_img;
  background        : url('about_3.jpg');
  background-size   : contain;
  background-repeat : no-repeat;
}

.forcellami {
  @extend .about_img;
  background        : url('forcellami.jpg');
  background-size   : contain;
  background-repeat : no-repeat;
}