@import 'variables';

body {
  width                   : 100%;
  margin                  : 0;
  font-family             : $pac;
  cursor                  : default;
  background-image        : url(toscani_1.jpg);
  background-repeat       : no-repeat;
  background-attachment   : fixed;
  background-position     : center center; 
  -webkit-background-size : cover;
  -moz-background-size    : cover;
  -o-background-size      : cover;
  background-size         : cover;
}

h1 {
  text-align : center; 
}

.clearfix:after {
  visibility : hidden; 
  display    : block; 
  font-size  : 0; 
  content    : " "; 
  clear      : both; 
  height     : 0;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input[type="text"] {
  font-family: $serif;
}

input[type="radio"], {
  padding:0;
  display: inline-block;
  width:20px;
  height:20px;
  vertical-align:middle;
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
}