@import 'variables';

.header_bar {
  background-color : rgba(0,0,0,0.5);
  height           : 42px;
  width            : 100%;
  clear            : both;
}

.header_links {
  width       : 180px;
  float       : right;
  font-size   : 24px;
}

.hdr_link {
  display   : inline-block;
  color     : white;
  padding   : 0 10px;
}