@import 'variables';

.main_title {
  text-align: center;
  font-size : 48px;
  color     : black;
  margin    : -14px auto;
}

.subtitle {
  font-size : 30px; 
  text-align: center;
}

.search_background {
  width                : 50%;
  height               : 310px;
  margin               : 120px auto;
  background-color     : rgba(255,255,255,0.8);
  border-color         : black;
  border-style         : solid;
  -webkit-border-radius: 10px;
  -moz-border-radius   : 10px;
  border-radius        : 10px;
  z-index              : 1;
}

.search_content {
  margin: 15px auto;
}

.italianize_name {
  width : 100%;
}

.select_gender {
  font-family: $serif;
  font-size  : 25px;
  width      : 73%;
  margin     : 12px auto;
}

.name_search_bar {
  font-family          : $serif;
  font-size            : 24px;
  width                : 90%;
  height               : 48px;
  margin               : 12px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius   : 10px;
  border-radius        : 10px;
}

.name_box {
  width                 : 47%;
  height                : 100%;
  font-size             : 24px;
  color                 : dark_gray;
  text-align            : center;
  background-color      : white;
  border-color          : gray;
  border-style          : solid;
  -webkit-border-radius : 10px;
  -moz-border-radius    : 10px;
  border-radius         : 10px;
  &:focus {
    outline           : none;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(255,165,0,0.8);
    -moz-box-shadow   : 0px 0px 2px 2px rgba(255,165,0,0.8);
    box-shadow        : 0px 0px 2pt 2pt rgba(255,165,0,0.8);
  }
}

.search_button {
  width                 : 30%;
  height                : 48px;
  background-color      : $orange;
  font-family           : $pac;
  font-size             : 24px;
  color                 : white;
  margin-left           : 33%;
  line-height           : 48px;
  text-align            : center;
  outline               : none;
  cursor                : pointer;
  border                : none;
  -webkit-border-radius : 10px;
  -moz-border-radius    : 10px;
  border-radius         : 10px;
  -webkit-box-shadow    : 0px 5px 5px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow       : 0px 5px 5px 0px rgba(50, 50, 50, 0.4);
  box-shadow            : 0px 5px 5px 0px rgba(50, 50, 50, 0.4);
  
  &:active {
    background-color    : $dark_orange;
  }
}